.navbar {
  background-color: #bbe1fa !important;
  margin: 10px;
  padding: 0;
  position: sticky; 
  top: 0;
  width: 100%; 
}

body {
  background-color: #bbe1fa;
  font-size: large;
}

.container-fluid {
    margin-right: 2vw;
}

.navbar-brand {
    font-size: 3rem;
}

.nav-link {
    font-size: 2rem;
    padding: 20px!important;
}

#main-logo {
  height: 10rem;
  width: 10rem;
}

footer .nav-link{
  font-size: 1.2rem;
}

.copyright-text {
  font-size: 1.2rem;
}